html,body{
	background-image: url('./images/backgrounds/black_blue_smoke.jpeg');
	background-position:center;
	width: 100%;
	margin:auto;
}
@media screen and (min-width: 700px){
	#wrapper{
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 700px){
	#wrapper{
		width: 100%;
		height: 100%;
	}
	.navWin{
		padding-top: 15px;
	}
	.navWin{
		font-size: 18px;
	}
}
.navWin{
	height: 100%;
	width:0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x:hidden;
	transition: 0.5s;
}
.navWin h1{
	padding-left: 25px;
	color: black;
	text-align:left;
	margin-top: 5px;
}
.navWin a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	color: black;
	transition: 0.3s;
}
.navWin a:hover{
	background-color: #C0C0C0;
}
.navWin .closebtn {
	position: absolute;
	top: -10px;
	right: 25px;
	font-size: 36px;
}
#menu{
	background: rgba(0, 0, 0, .0);
	color:white;
	margin:auto;
	position:fixed;
	top: 10px;
	left: 20px;
	float: left;
	display: inline-block;
	cursor: pointer;
	border:none;
	z-index: 1;
}
#menu:hover div{
	background-color: #C0C0C0;
	transition: 1.0s;
}
#menu:active{
	color: gray;
}
#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0 0 2px;
}
header {
	color:white;
	background-color: black;
	/*background: rgba(0, 0, 0, .8);*/
	height: 50;
	width: 100%;
	margin:auto;
	padding:0px;
	position: fixed;
}
header h1{
	margin:auto;
	text-align:center;
	position: relative;
}
#title{
	font-size: 50px;
}
#pagename{
	color: white;
	float: center;
	display: inline-block;
	margin-left: 200px;
	font-size: 30px;
}
nav{
	transform: rotate(-45deg);
	background-color: white;
	border: 1px solid;
	padding: 5px;
}
nav li{
	list-style-type: none;
	display: inline-block;
	padding-right: 100px;
	font-size: 40px;
	margin-left: -40px;
}
#wrapper{
	/*background-image: url('./images/backgrounds/black_blue_smoke.jpeg');*/
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 65%;
	margin: auto;
	/*background-clip: padding-box;*/
	overflow: hidden;
}
#FirstProject{
	margin:auto;
	background-color: gray;
	color:white;
	padding:20px;
	background: rgba(0, 0, 0, .8);
}
#FirstProject h2{
	text-align: center;
}
#FirstProject h3{
	text-align: center;
	text-decoration: underline;
}
#Ppicture1{
	margin: auto;
	border: 5px gray solid;
	border-radius: 10px;
	width: 600px;
	height: 300px;
}
#CodeSnip1{
	margin: auto;
	background-color: #F0FFF0;
	color: black;
	width: 700px;
	height: 300px;
	padding: 10px;
	overflow: scroll;
	border: 5px gray solid;
	border-radius: 10px;
}
#PongLink a{
	text-decoration: none;
	display: block;
	color: white;
	transition: 0.3s;
}
#PongLink a:hover{
	color: blue;
}
#PongLink{
	padding: 2px;
	background-color: #4169E1;
	width: 100px;
	text-align: center;
	margin: auto;
	border-radius: 20px;
	box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}
#SecondProject{
	margin:auto;
	background-color: gray;
	color:white;
	padding:20px;
	background: rgba(0, 0, 0, .8);
}
#SecondProject h2{
	text-align: center;
}
#SecondProject h3{
	text-align: center;
	text-decoration: underline;
}
#BallDropLink a{
	text-decoration: none;
	display: block;
	color: white;
	transition: 0.3s;
}
#BallDropLink a:hover{
	color: blue;
}
#BallDropLink{
	padding: 2px;
	background-color: #4169E1;
	width: 100px;
	text-align: center;
	margin: auto;
	border-radius: 20px;
	box-shadow: 5px 5px 5px gray, -5px -5px 5px gray;
}
#CodeSnip2{
	margin: auto;
	background-color: #F0FFF0;
	color: black;
	width: 700px;
	height: 300px;
	padding: 10px;
	overflow: scroll;
	border: 5px gray solid;
	border-radius: 10px;
}
#Ppicture2{
	margin: auto;
	border: 5px gray solid;
	border-radius: 10px;
	width: 600px;
	height: 300px;
}
footer{
	background-color:white;
	color: black;
	font-size: 17px;
	text-align: center;
	position: relative;
	margin: auto;
	padding:1px;
}
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	color:red;
}
li a:link{
	color: blue;
	text-decoration: none;
}
li a:visited{
	color: purple;
}
li a:hover{
	color: red;
}
li a:active{
	color: yellow;
}